<a href="https://colab.research.google.com/github/sharanbalu/codekata-work/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Input and Output
**bold text**

In [ ]:
#i/p 5 / o/p 5

I=int(input())
print(I)
print(type(I))

5
5
<class 'int'>

In [ ]:
A=int(input())
B=int(input())
print(A*B)

5
5
25

In [ ]:
#3.14 / o/p 3.14

F=float(input())
print(F)
print(type(F))

3.14
3.14
<class 'float'>

In [ ]:
# Guvi / o/p=Guvi
S=input()
print(S)
print(type(S))

Guvi
Guvi
<class 'str'>

In [ ]:
#1 2 3 4 5 / o/p=1 2 3 4 5 
A=input()
print(A)
print(type(A))

1 2 3 4 5
1 2 3 4 5
<class 'str'>

In [ ]:
A=input().split(' ')
print(A)

1 2 3 4 5
['1', '2', '3', '4', '5']

In [ ]:
B=list(map(float,A))
print(B)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
def sqr(x):
    x=int(x)
    return x**2

In [ ]:
sqr(5)

NameError: ignored

In [ ]:
B=list(map(int,A))
print(*B)

1 2 3 4 5

In [ ]:
C=input().split()
print(C)

1 2 3 4 5
['1', '2', '3', '4', '5']

In [ ]:
print(' '.join(C))

1 2 3 4 5

In [ ]:
S=input()
print(S)

Guvi Network
Guvi Network

In [ ]:
print(' ','')

In [ ]:
# 1
# 2
# 3
# 1 2 3

A=int(input())
B=int(input())
C=int(input())
print(ABC)

SyntaxError: ignored

# conditional **statment**

if,else and elseif

In [ ]:
# if age >14 and weight >45 her or she is eligible for the ride

Name=input()
Age=int(input()) #Age 14
Weight=float(input())

if Age>=14:
  Weight=float(input('Enter your weight'))
  if Weight>=45:
    print(Name,'eligible for ride')
  else:
        print(Name,'Your weight is less than 45 not eligible for ride')
else:
    print(Name,'Your age is less than 14 not eligible for ride')

14
16
449
Enter your weight444
14 eligible for ride

In [ ]:
 # Shop 688,500,220,1000 = eligible for discount / 399,725,683,999,1003 =not eligibel

Cust_Name=input()
Bill_Amt=int(input())

if Bill_Amt%2==0:
  print(Cust_Name,'You are eligible for discount')
else:  
  print(Cust_Name,'You are not eligible for discount')

raci
2444
raci You are eligible for discount

In [ ]:
Cust_Name=input()
Bill_Amt=int(input())
if Bill_Amt>=500 and Bill_Amt<=2000:
  print(Cust_Name,'You are eligible for %5,10%,15%,20% of discount')
else:
   print(Cust_Name,'Your not eligbele for discount')

ravi
1500
ravi You are eligible for %5,10%,15%,20% of discount

In [ ]:
Cust_Name=input()
Bill_Amt=int(input())
if Bill_Amt>=500 and Bill_Amt<=1000:
  print(Cust_Name,'You are eligible for 5% of discount')
elif Bill_Amt>1000:
   print(Cust_Name,'Your are eligible for 10% discount')
elif Bill_Amt>1500:
  print(Cust_Name,'Your are eligible for 15% discount')
elif Bill_Amt>=2000:
  print(Cust_Name,'You are eligible for 20% discount')  

else:
   print(Cust_Name,'Your not eligbele for discount')

ff
2100
ff Your are eligible for 10% discount

In [ ]:
Cust_Name=input()
Bill_Amt=int(input())
if Bill_Amt>500:
 if Bill_Amt<=1000:
  print(Cust_Name,'You are eligible for 5% of discount')
 elif Bill_Amt>1000 and Bill_Amt<=1500:
   print(Cust_Name,'Your are eligible for 10% discount')
 elif Bill_Amt>1500 and Bill_Amt<=2000:
  print(Cust_Name,'Your are eligible for 15% discount')
 else:
  print(Cust_Name,'You are eligible for 20% discount')  

else:
   print(Cust_Name,'Your not eligbele for discount')

fjnfjn
2130
ff You are eligible for 20% discount

indentation error

In [ ]:
x=10
if x>5:
print(yes)

IndentationError: ignored

In [ ]:
x=10
if x>5:
 print('yes')

yes

# Loops

for and while loop

In [ ]:
#0 to 10

for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#1 to 10

for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

Step function

In [ ]:
for i in range(2,15,3):
  print(i)

2
5
8
11
14

In [ ]:
# 10 to 1

for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(20,6,-3):
  print(i)

20
17
14
11
8

Find Math table using Range function

In [ ]:
times=int(input())
mul=int(input())
for i in range(mul,(mul*times)+1,mul):              #3 6 9 12 15 18 21 24 27 30
  print(i)

10
3
3
6
9
12
15
18
21
24
27
30

In [ ]:

D=[]
for i in range(mul,(mul*times)+1,mul):             
  D.append(i)
print(D)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]