<a href="https://colab.research.google.com/github/sharanbalu/codekata-work/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
N= int(input())
i=10
if N==10:
    for i in range(10,0,-1):
        print(i)
        i-=1

10
10
9
8
7
6
5
4
3
2
1

In [ ]:
string=input()

print(string[::-1])

10
01

num = int(input("Enter a number: "))


if num < 0:

print("Enter a positive number")

else:

sum = 0.

 use while loop to iterate un till zero.
 
while(num > 0):

sum += num.

In [ ]:
'''integer=int(input())

if integer<10:
    for i in range(1,11,1):
        print(i)'''

integer=int(input())
if integer<0:
  print('enter valid num')
else:
  sum=0
  while integer>0:
    sum+=integer
    integer-=1
  print(sum)

10
55

In [ ]:
# Sum of natural numbers up to num

num = int(input())

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print( sum)

10
55

In [ ]:

integer=int(input())
if integer<0:
  for i in range(10,0,-1):
    print(i)




'''else:
  sum=0
  while integer>0:
    sum+=integer
    integer-=1
  print(sum)'''

10

'else:\n  sum=0\n  while integer>0:\n    sum+=integer\n    integer-=1\n  print(sum)'

In [ ]:
integer=int(input())
i= integer
while i>=1:
  print(i)
  i-=1

5
5
4
3
2
1

In [ ]:

number = int(input("Please Enter any Number: "))
i = number
 
while ( i >= 1):
    print (i, end = '  ')
    i = i - 1

Please Enter any Number: 10
10  9  8  7  6  5  4  3  2  1

In [ ]:
integer=int(input())

for i in range(1,integer+1):
  print(i)

5
1
2
3
4
5

In [ ]:
# Python program to print numbers from 1 to n
 
n = int(input("Please Enter any Number: "))
 
print("The List of Natural Numbers from 1", "to", n) 
 
for i in range(1, n + 1):
    print (i, end = '  ')

Please Enter any Number: 5
The List of Natural Numbers from 1 to 5
1  2  3  4  5