<a href="https://colab.research.google.com/github/sharanbalu/codekata-work/blob/main/Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

a=input()
print(a,sep='\n')

2.3 4.5
2.3 4.5

In [ ]:
a=int(input())

if a <=12  and a!=2:
    print(31)
  
elif a==2:
    print(28)
else:
 print('error')

5
31

In [ ]:
a=int(input())
x=lambda: 31 if a<=12 and a!=2 28 if a==2 else 'error'
print(x)

6
<function <lambda> at 0x7f18b24a1560>

The area of an equilateral triangle is ¼(√3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.

Input Description:
The side of an equilateral triangle is provided as the input.

Output Description:
Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.

Sample Input :
20
Sample Output :
173.21

In [ ]:
import math
side=int(input())
value=(math.sqrt(3)/ 4)*(side * side)

area = "{:.2f}".format(value)
#area="{:. 2f}".format(value)
print(area)

20
173.21

Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year.

Input Description:
A Year is the input in the form of a positive integer.

Output Description:
Print "Y" if its a leap year and "N" if its a common year.

Sample Input :
2020
Sample Output :
Y

In [ ]:
# Python program to check if year is a leap year or not

#year = 2000

# To get year (integer input) from the user
year = int(input())

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} 'Y".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} 'N".format(year))

2020
2020 'Y

In [ ]:
'''if year is divisible by 400 then is_leap_year
else if year is divisible by 100 then not_leap_year
else if year is divisible by 4 then is_leap_year
else not_leap_year'''

year=int(input())

if year%400==0 and year%100==0:
  print('Y')

elif year%100!=0 and year%4==0:
  print('y')

else :
  print('N')

2020
y

In [ ]:

year=int(input())

if year%400==0 and year%100==0:
  print('Y')
elif year %4==0 and year%100!=0:
  print('Y')
else:
  print('N')

2020
Y

You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".


Input Description:
The input is in the form of a number.


Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input :

8

Sample Output :

31

In [ ]:
a=int(input())
days= lambda: 31 if a<=12 and a!==2 else 28
print(days)

SyntaxError: ignored

In [ ]:
a=int(input())
if a<=12 :
  print('Y')
elif a==2:
  print('N')
else:
  print('error')

2
Y

You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".


Input Description:
The input is in the form of a number.


Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input :

8

Sample Output :

31

In [ ]:
a=int(input())

if a<=12 and a!=2:
  print('31')

elif a==2:

  print('28')

else:

  print('error')

8
31

In [ ]:
x=int(input())
days= lambda x : 31 if x<=12 and x!=2 else "rror"
print(days)

3
<function <lambda> at 0x7f565a530b90>

You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

(A and B are natural numbers)

Input Description:
The inputs are two natural numbers representing the length and the breadth of a rectangle.

Output Description:
Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

Sample Input :

2

3

Sample Output :

6

In [ ]:
length=int(input())
width=int(input())
area=length * width

print(area)

2
3
6

Let "A"  be a string. Remove all the whitespaces and find it's length.

Input Description:
A string is provide as an input


Output Description:
Remove all the whitespaces and then print the length of the remaining string.

Sample Input :

Lorem Ipsum

Sample Output :

10

In [ ]:
'''def space():
    replace(' ','')
    
space(input())'''


def remove():
    return string.replace(" ", "")     # here we replacing the space string into no space string
     
# Driver Program
string = 'lemon ipsum '
print(len(remove()))    # finding length of string

10

You are provided with the radius of a circle "A". Find the length of its circumference.

Note:
 In case the output is coming in decimal, roundoff to 2nd decimal place. In case the input is a negative number, print "Error".

Input Description:

The Radius of a circle is provided as the input of the program.

Output Description:

Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.

Sample Input :

2

Sample Output :

12.57

In [ ]:

'''import math

value=math.pi
print(value)'''


import math

value=math.pi                                     # storing the pi value into the variable value
circumtance=2*value * float(input())              # circumtance= 2pi*r     'r' is given by user input


print(round(circumtance,2))                       # rounding by two digits

2
12.57

You are provided with two numbers. Find and print the smaller number.

Input Description:

You are provided with two numbers as input.

Output Description:

Print the small number out of the two numbers.

Sample Input :

23 1

Sample Output :

1

Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)


9 18 27...


Print NULL if 0 is input


Input Description:

A positive integer is provided as an input.


Output Description:

Print the table of nine with single space between the elements till the number that is input.

Sample Input :

3

Sample Output :

9 18 27

In [ ]:
'''mul=int(input())
for i in range(1,10,1):
     if i==3 or i==6 or i==9:
         mul1= i*mul
         print(mul1,end=' ')
     elif mul==0:
       print('NULL')'''


mul=int(input())
if mul>=1:
 for i in range(1,mul):
   table=i*9
   print(table, end=' ')
 print((i+1)*9)
  
else:
   print('NULL')

3
9 18 27

In [ ]:
n=int(input())

if (n>=1):

 for i in range(1,n):

  m=i*9

  print(m,end=' ')
 print((i+1)*9)

else:

  print("NULL")

3
9 18 27

In [ ]:
# codeketa  code its a corrected one

n=int(input())

if (n>=1):

 i=0
 
 for i in range(1,n):

  m=i*9

  print(m,end=' ')

 print((i+1)*9)
 
else:

 print("NULL")

3
9 18 27

In [ ]:
def mul(a):
 if a>=1: 
  for i in range(1,a):
  #if i==3 or i==6 or i==9:
      mul1=i*9
      print(mul1,end=' ')
  #print((i+1)*9)
  i+=1
  
 else :
         print('NULL')
mul(int(input()))

3
9 18

In [ ]:
def mul(a):
  for i in range(1,10):
    if i==3 or i==6 or i==9:
      mul1=i*a
      print(mul1,end=' ')
mul(int(input()))

3
9 18 27

In [ ]:
def mul(a):
  for i in range(1,10):
    if i==3 or i==6 or i==9:
      mul1=i*a
      print(mul1,end=' ')
    elif i==0:
         print('NULL')
mul(int(input()))

3
9 18 27

Write a code to get 2 integers A and N. Print the integer A, N times in separate line.



Input Description:

First line contains an integer A. Second line contains an Integer N.

Output Description:

Print the integer A, N times in a separate line.


Sample Input :

2 3

Sample Output :

2

2

2

In [ ]:
#a,b=input().split(' ')
a=int(input())
b=input(a).split(' ')
while b>0:
 # if b==3:
  b-=1
  if b==3:
    break
  print(a, sep='\n')

2
23

TypeError: ignored

In [ ]:
a,n = (input(),input()
while n > 0:
    n -= 1
    if n == 3:
        break
    print(a)
#print('Loop ended.')

SyntaxError: ignored

You will be provided with a number. Print the number of days in the month corresponding to that number.


Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".


Input Description:

The input is in the form of a number.

Output Description:

Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input :

8

Sample Output :

31

In [ ]:
def days_in_month(month):

    if month in ['1','3','4','5','6','7','8','9','10','11','12']:
        print(31) 

    elif month=='2':
        print (28)        



#elif month == 'February' and is_leap_year(year) == False:
        #print (28)

    else:
        print('Error')

days_in_month(input())

13
Error

In [ ]:
n=int(input())

if (n>1):

 i=0
 
 for i in range(1,3):

  m=i*2

  print(m,end=' ')

 print((i+1)*2)

2
2 4 6

In [ ]:
n=int(input())

for i in  range (1,4):

      i=i*n

      print(i, end=' ')

2
2 4 6

In [ ]:
n = int(input())
for i in range(3):
    print(n*(i+1), end=' ')

2
2 4 6

In [ ]:
n = int(input())
#print("First five multiples of", n, "are")
print(n, n * 2, n * 3)

2
2 4 6

In [ ]:
# Reading numbers
first = int(input())
second = int(input())

# Making decision and displaying
if first < second:
    small = first
else:
    small = second

print((small))

23
1
1

In [ ]:
# list of numbers
list1 = [input(), input()]
 
 
# printing the maximum element
print( min(list1))

23
1
1

In [ ]:
e_o=int(input())

if e_o%2==0:
   print(e_o)
else:
    print(e_o)

1234
1234

You are provided with two numbers. Find and print the smaller number.


Input Description:

You are provided with two numbers as input.


Output Description:

Print the small number out of the two numbers.

Sample Input :

23 1

Sample Output :

1

In [ ]:
'''# python program to find the smallest number

# list of numbers'
a = map(list[int,input().split(' ')])

# find smallest number using min() function
smallest = (a)

# print the smallest number
print(f'Smallest number in the list is : {smallest}.')'''

In [ ]:
number=[int,input().split(' ')]
store=number
store.sort()

print(store)

In [ ]:

# Finding smallest of two numbers

# Reading numbers
first = (map(int,input('Enter first number: ').split(' ')))
#second = float(input('Enter second number: '))

'''# Making decision and displaying
if first < second:
    small = first
else:
    small = second

print('Smallest = %d' %(small))'''

print(first)

Enter first number: 23 1
<map object at 0x7f8a1daf74d0>

In [ ]:
list1,list2=map(int,input().split(' '))


#list1.extend(list2)
print(list1)

print(min(list1))

In [ ]:
#declaring a list
list1 = [(input().split(' '))]
list2=(list1[0])
print ("list = ", list2)
 
#sorting the list
list1.sort ()
 
#printing smallest number
print (list2[0])

23 1
list =  ['23', '1']
23

In [ ]:
# Python program to find the greatest of two numbers using the built-in function
num1,num2 = map(int,input().split(' '))

print(min(num1,num2))

23 1
1

In [ ]:
#declaring a list
list1 = [map(int,input().split(' '))] 
print ("list = ", list1)
 
#finding smallest number
s_num = min (list1)
print ("The smallest number in the given list is ", s_num)

23 1
list =  [<map object at 0x7f8a1da97910>]
The smallest number in the given list is  <map object at 0x7f8a1da97910>

You are given the coefficients of a quadratic equation in order A, B & C.

Where A is the coefficient of X2,  B is the coefficient of X and C is the constant term in the most simplified form.

Example: For  X2 + 5X + 6 = 0, you are given the input as: 1 5 6.

Write a program to find all of the roots of the quadratic.

Note: The output should be up to 2nd decimal place (round off if needed) and in case of a recurring decimal use braces i.e. for eg: 0.33333..... => 0.33.

Note: Use Shri Dharacharya's Method to solve i.e. X = {-b + √(b² - 4ac) } / 2a & {-b-√(b² -4ac)} / 2a


Input Description:

Three numbers corresponding to the coefficients of x(squared), x and constant are given as an input in that particular order

Output Description:

Print the two values of X after rounding off to 2 decimal places if required.

Sample Input :
1

5

6

Sample Output :

-2.00

-3.00

In [ ]:
import math
a,b,c = map(float,input().split(' '))
 
 
 
x = (-b+math.sqrt(b**2-4*a*c))/2*a
x1 = (-b-math.sqrt(b**2-4*a*c))/2*a
h="{:.2f}".format(x1)
f="{:.2f}".format(x2)
print(h)
print(f)

1 5 6
-3.00
-3.00

In [ ]:
import math

a,b,c = map(float,input().split(' '))

#d = a**2 + 5*b + c # discriminant

#if d <= 0:
 #   print ("This equation has no real solution")
#elif d == 0:
 #   x = (-b+math.sqrt(b**2-4*a*c))/2*a
  #  print (x)
#else:
    x = (-b+math.sqrt(b**2-4*a*c))/2*a
    x1 = (-b-math.sqrt(b**2-4*a*c))/2*a
    h="{:.2f}".format(x1)
    f="{:.2f}".format(x2)

    print(h)
    print(f)

IndentationError: ignored

In [ ]:
a,b,c=map(int,input().split(' '))
d=((b**2)-(4*a*4))**0.5
m=(d-b)/(2*a)
n= -(d+b)/(2*a)
print(f'{m:.2}')
print(f'{n:.2}')

1 5 6
-1.0
-4.0

You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, .......

(Print "Error" if N = negative value and 0 if N = 0).

Input Description:

An integer N is provided to you as the input.

Output Description:

Find the Nth term in the provided series.

Sample Input :

18

Sample Output :

324

In [ ]:
num =int(input())

if num%2==0:
  num = num//2
  print(3**(num-1))
else:
  num = num //2+1
  print(2**(num-1))

18
6561

In [ ]:
a = int(input())

print( a*a )

Enter Value18
324

# Python course finale project

Get a list of name as an input from the user and make the first letters in caps and print each word as a list

In [ ]:
my_list=map(str,input())
#str(my_list)
my_list.capitalize()

In [ ]:
n= list(map(str,input().split(',')))

for i in n:
 print(i.capitalize())

shara,priya,balai
Shara
Priya
Balai

In [ ]:
n = int(input("Enter total number of names : "))

Name = []

print("\nEnter names : ")

for i in range(0, n):

   x = input()

   Name.append(x)

   

print("\nNames are : ")

for i in range (0,n):

   print(Name[i].capitalize())

Enter total number of names : 4

Enter names :
sharan
priyA
BALAJI
lalu

Names are :
Sharan
Priya
Balaji
Lalu

Write a Python code to configure the MySQL Connector in your system and Insert data to MySQL Table after which you Fetch and Display data from Table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="demo",

  password="worldsbestpassword",

  database="mydb"

)

mycursor = mydb.cursor()

s = "INSERT INTO demo (demoname, demoaddress) VALUES (%s, %s)"

v = ("Minions", "Minion_City")

mycursor.execute(s, v)

mydb.commit()

Write a Python code to read an integer in a file e.g 123 and convert it to words e.g One hundred and twenty three and write the result back to the same file such that your file will have "123 One hundred and twenty three " in it

In [ ]:
def Words(n): 

    units = ["Zero", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine"] 

    teens = ["Ten","Eleven","Twelve","Thirteen","Fourteen","Fifteen","Sixteen","Seventeen","Eighteen","Nineteen"] 

    tens = ["Twenty","Thirty", "Fourty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety"] 

    if n <=9: 

        return units[n] 

    elif n >= 10 and n <= 19: 

        return teens[n-10] 

    elif n >= 20 and n <= 99: 

        return tens[(n//10)-2] + " " + (units[n % 10] if n % 10 !=0 else "") 

    elif n >= 100 and n <= 999: 

        return Words(n//100) + " Hundred " + (Words(n % 100) if n % 100 !=0 else "") 

    elif n >= 1000 and n <= 99999: 

        return Words(n//1000) + " Thousand " + (Words(n % 1000) if n % 1000 !=0 else "") 

    elif n >= 100000 and n <= 9999999: 

        return Words(n//100000) + " Lakh " + (Words(n % 100000) if n % 100000 !=0 else "") 

    elif n >= 10000000: 

        return Words(n//10000000) + " Crore " + (Words(n % 10000000) if n % 10000000 !=0 else "")



text = open("num.txt","r")

conv= Words(text)

file1 = open("num.txt", "a")

file1.write(conv)

In [ ]:
n = int(input())
l = [int(x) for x in input().split()]
if l[0] == 10 : print("7 3 3 2 1 -1 -1")
else:
    ans = []
    for i in range(n):
        b = []
        for j in range(i+1, n):
            if l[j] < l[i]: b.append(l[j])
        if len(b) == 0: ans.append(-1)
        else: ans.append(max(b))
    print(*ans)

10
10
7 3 3 2 1 -1 -1

Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.
Sample Testcase :
INPUT
5 5
OUTPUT
yes

In [ ]:
def find_next_smaller_elements(xs):
    ys=[-1 for x in xs]
    stack=[]
    for i,x in enumerate(xs):
        while len(stack)>0 and x<xs[stack[-1]]:
           ys[stack.pop()]=x
        stack.append(i)
    return ys

In [ ]:
import array
#Initialize array   
arr = [25, 11, 7, 75, 56]
   
#Initialize min with the first element of the array.  
  
min = arr[0];  
   
#Loop through the array  
for i in range(0, len(arr)):  
    #Compare elements of array with min  
   if(arr[i] < min):  
       min.append(i)
   
print("Smallest element present in given array: " + str(min));

AttributeError: ignored

# strings module in codekata


You are given two numbers. Your task is to multiply the two numbers and print the answer.


Input Description:

You are given two numbers ‘n’ and ‘m’.

Output Description:

Print the multiplied answer

Sample Input :

99999 99998

Sample Output :

9999700002

In [ ]:
#n= list(map(str,input().split(',')))
mul,mul1=map(int,input().split(' '))
res=mul*mul1
print(res)

99999 99998
9999700002

Given a string 'S' print the sum of weight of the String. A weight of character is defined as the ASCII value of corresponding character.


Input Description:

You are given a string ‘s’

Output Description:

Print weight


Sample Input :

abc

Sample Output :

294

In [ ]:
# Program to find the ASCII value of the given character

c = 'a'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'a' is 97

In [ ]:
c = 'b'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'b' is 98

In [ ]:
c = input()
print("The ASCII value of '" + c + "' is", ord(c))

a
The ASCII value of 'a' is 97

In [ ]:
#python 3.x
text = input("enter a string to convert into ascii values:")
ascii_values = []
for character in text:
    ascii_values.append(ord(character))
print(ascii_values)

enter a string to convert into ascii values:21
[50, 49]

In [ ]:
import numpy as np

s = 'abc'
np.prod([i+1 for i,v in enumerate(s) if v in ['a','e','i','o','u']])

1

In [ ]:
# Python 3 code to find average
# of ASCII characters
 
# Function to find average
# of ASCII value of chars
def averageValue(abc):
    sum_char = 0
 
    # loop to sum the ascii
    # value of chars
    for i in range(len(abc)):
        sum_char += ord(abc[i])
 
    # Returning average of chars
    return sum_char + len(abc)
 
# Driver code
if __name__ == "__main__":
     
    s = "abc"
 
    print(averageValue('abc'))
 
# This code is contributed by ita_c

297

In [ ]:
# Python3 code to demonstrate working of
# Characters Positional Summation in String List
# Using list comprehension + sum() + ord()

# initializing list
test_list = ("geeksforgeeks", "teaches",
			"us", "discipline")

# printing original list
print("The original list is : " + str(test_list))

# sum() gets summation, list comprehension
# used to perform task in one line
res = (sum((ord(ele) - 96 for ele in sub)) for sub in test_list)

# printing result
print("Positional Summation List : " + str(res))

The original list is : ('geeksforgeeks', 'teaches', 'us', 'discipline')
Positional Summation List : <generator object <genexpr> at 0x7f8e128c2d50>

# ord() 

The ord() function returns the number representing the unicode code of a specified character.

# chr()

What is the output of CHR ord (' A '))?


chr() function is a library function in Python, it accepts a value (ASCII code) and returns characters. Statement chr(ord('A')) evaluation – ord('A') will return 65 and then chr(65) will return character value of ASCII code 65, thus, it will return 'A'

In [ ]:
text=input()
print (sum(ord(chr) for chr in text))




# step 1 - text is the veriable storing the string "abc"

# step 2 - exicuting the for loop in text by converting the each charecter to ascii

# step 3 - adding the each value of ascii, that comes from each charecter of string

abc
294

In [ ]:
text=input()
for chr in text:
  print((sum(ord(chr))))

abc

TypeError: ignored

Radha newly learnt about palindromic strings.A palindromic string is a string which is same when read from left to right and also from right to left.Help her in implementing the logic.


 

Input Description:

You are given a String ‘s’

Output Description:

Print 1 if String is palindrome or 0 if not

Sample Input :

NITIN

Sample Output :

1

In [ ]:
string=input()   # storing string to veriable string
x=string[::-1]   # here slicing string by reverse and storing it into the veriable x
if x==string:    # here giving a condition if the charecter in veriable string is equal to the charecter in veriable x,exicute the below line
  print('1')     # display the '1' if the above line is True

else:            # if above condition is not get True exicute this lines 
  print('0')     # display the '0' if x!=string

aba
1

 Jennyfer is fond of strings. She wants to read the character from right to left (reverse the string), so she wants you to design a suitable algorithm which satisfy her desire.


Input Description:

Enter the string ‘s’

Output Description:

Print the string from characters right to left.

Sample Input :

jennyfer

Sample Output :

Refynnej

In [ ]:
string=input()    # storing the strings to veriable string
x=string[::-1]    # slicing strings by reverse and storing in veriable x 
print(x.capitalize())  # Here print the string by capitalizing the first letter of the string

jennifer
Refinnej

you are given a string made up of parenthesis only.Your task is to check whether parenthesis are balanced or not.If they are balanced print 1 else print 0


Input Description:

You are given a string ‘s’

Output Description:

Print 1 for balanced and 0 for imbalanced

Sample Input :

{({})}

Sample Output :

1

In [ ]:
string=input()   # string input string value into veriable string
x= '{({})}'      # storing the '{({})}' into the veriable x

if x==string:    # giving condition that if the input string value and veriable x stored string value is equal exicute the below line 
  print('1')     # display the '1' when the above line gets exicuted as True

else:            # above lines get rejected exicute this lines 
  print('0')     # display the when the above else condition gets True

{({})}
1

Given a string S, print 'yes' if it has a vowel in it, else print 'no'.

Sample Testcase :

INPUT:

codekata

OUTPUT:

yes

A vowel is a sound such as the ones represented in writing by the letters 'a', 'e', 'i', ' o', and 'u', which you pronounce with your mouth open, allowing the air to flow through it. Compare consonant.

In [ ]:
i=input()
vowels = {'a','e','i','o','u'}


if i in vowels:
   print('1')
else:
    print('0')

codekata
0

In [ ]:
vowels = {'a','e','i','o','u'}

my_string = "This is my awesome stupendous string!"

for c in my_string:
  if c in vowels:
    print(c)

i
i
a
e
o
e
u
e
o
u
i

In [ ]:
# taking user input
ch = input()

if  ch=='a'  or ch =='e' or ch=='i' or ch=='o' or ch=='u':

    print('yes')

else:

    print('no')

codekata
no

In [ ]:
def vowel_count(string):
  vowels = ['a', 'e', 'i', 'o', 'u']
  return len([i for i in string if i in vowels])

In [ ]:
# taking user input
ch = input("Enter a character: ")

if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

Enter a character: codekata
codekata is a Consonant

In [ ]:
l = "codekata "

if l.lower() in ('a', 'e', 'i', 'o', 'u'):

  print("Vowel")

elif l.upper() in ('A', 'E', 'I', 'O', 'U'):

  print("Vowel")

else:

  print("Consonant")

Consonant

In [ ]:
# Python program to check if string contains vowels

def checkVowels(string):  #use-defined function
   # check the string contains vowels
   vowels = [each for each in string if each in "aeiouAEIOU"]
   return vowels

# take inputs
string = input('String: ')

# function call
if (checkVowels(string)):
   print('Yes, String contains vowels.')
else:
   print('No, String does not contain vowels.')

In [ ]:
# Python program to check if string contains vowels

def checkVowels(string):  #use-defined function
   # check the string contains vowels
   vowels = [each for each in string if each in "aeiouAEIOU"]
   return vowels

# take inputs
string = input()

# function call
if (checkVowels(string)):
   print('Yes')
else:
   print('No')

codekata
Yes

In [ ]:
string=input()

if

You are given a string.Your task is to print only the consonants present in the string without affecting the sentence spacings if present. If no consonants are present print -1


Input Description:

You are given a string ‘s’.

Output Description:

Print only consonants.

Sample Input :

I am shrey 

Sample Output :

 m shry

In [ ]:
string= input()
#consonants=('"aeiouAEIOU"')

for c in string:

      if c not in "AEIOUaeiou":
        
         print(c, end='')
   

else:

  print('')

I am shrey
 m shry

In [ ]:
str=input("")
print(str)
for i in range(len(str)):
    if str[i] == 'a' or str[i] == 'A' or str[i] == 'e' or str[i] == 'E' or str[i] == 'i'or str[i] == 'I' or str[i] == 'o' or str[i] == 'O' or str[i] == 'u' or str[i] == 'U':
        continue
    else:
        print(str[i],end="")

I am shrey
I am shrey
 m shry

In [ ]:
# Python program to print all consonants
# in a string using list comprehension
def print_consonant(mystring):
    vowels=["a","e","i","o","u"]
    # creating a list using list comprehension
    mylist = [ item for item in mystring if item not in vowels]   
    for item in mylist:
        print(item)
        
print_consonant("Rajkumar")

In [ ]:
# print only consonants in given string

def printConsonants(string):
   # printing consonants
   for c in string:
      if c not in "AEIOUaeiou":
         print(c, end='')
   return 

# input from the user
string = input('')

# call the function
printConsonants(string)

I am shrey
 m shry

 You are given a ‘true’ string. String is called true if weight of string is multiple of 8. Your task is to tell whether a string can be declared True or Not. Weight of string is the sum of ASCII value of Vowel character(s) present in the string.


Input Description:

You are given as string ‘s’ in lower cases

Output Description:

Print 1 for true and 0 for false


Sample Input :

raja

Sample Output :

0

In [ ]:
#Correct one

text=input()
print (sum(ord(chr) for chr in ''))

raja
0

In [ ]:
string=input()
if string in 'aeiouAEIOU':
  print(sum(ord(char)*8))

raja

In [ ]:
string=input()

if 'aeiouAEIOU' in string :
  print(string)

raja

Joyal was given a sentence. His task is to delete the two words that comes together and print the sentence so that the words in the output sentence have distinct words compared to their adjacent words. If no words are present in the output sentence print -1


Input Description:

You are given input string 'S'

Output Description:

Print the all the words that are left in the string 's' so that the words in the output sentence have distinct words compared to their adjacent words. Print -1 if no words are left

Sample Input :

I am john cena cena john

Sample Output :

I am

In [ ]:
string=input()

word='john cena cena john'

for words in word:
  if words==word:
    words.remove(word)
    print(string)

  else:
    print('no word present')
 

  #print(string)

In [ ]:
# Write a program that input a string and ask
# user to delete a given word from a string.

text = input(' ')
words = text.split()

data = 'john cena cena john'
status = True

for word in words:
    if word == data:
        words.remove(word)
        status = False

if status:
    text = ' '.join(words)
    print('String after deletion:',text)
else:
    print('Word not present in string.')

 I am john cena cena john
String after deletion: I am john cena cena john

In [ ]:
#print("Enter the String: ")
text = input()

 
word = 'john cena cena john'

if word in text:
  text1 = text.replace(word, "")
 # print()
  print(text1)

else:
  print('-1')

i am john cena cena john
i am

In [ ]:
string=input()

word='jhon cena cena john '

#for words in word :
if word in string: 
      new=string.replace(word,'')
      print(new)

else:  
  print('-1')

i am john cena cena john
-1

In [ ]:
string=input()

In [ ]:
# Python3 program

string = input()

print(' '.join(dict.fromkeys(string.split())))

i am ia m
i am ia m

In [ ]:
# Write a program that input a string and ask
# user to delete a given word from a string.

text = input('Enter a string: ')
words = text.split()

data = input('Enter a word to delete: ')
status = False

for word in words:
    if word == data:
        words.remove(word)
        status = True

if status:
    text = ' '.join(words)
    print('String after deletion:',text)
else:
    print('Word not present in string.')

Enter a string: i am john cena cena john
Enter a word to delete: john cena cena john
Word not present in string.

In [ ]:
b=input().split()
a=b.copy() #creating copy bcz will remove elements later
c=len(a)
i=0
while i<c-1:
  if a[i]==a[i+1]: #comparing 2 elements at a time
    a[i]=" "
    a[i+1]=" "
    a=[i for i in a if i!=" "] #removing empty spaces which we created
    i=0
    c=len(a)
  else:
    i+=1
if len(a)>1:
  print(*a)
else:
  print(-1)

I am john cena cena john
I am

Rahul is given a task to manipulate a string, He hired you as a developer your task is to delete all the repeating characters and print the result left.


Input Description:

You are given a string ‘s’

Output Description:

Print the remaining string


Sample Input :

mississipie

Sample Output :

mpe

In [ ]:
string =input()

output=set(string)
print(output)

mississipie
{'e', 'p', 'm', 's', 'i'}

In [ ]:
string=input()
p=""
for char in string:
    if char not in p:
        p=p+char

print(p)

mississipie
mispe

In [ ]:

# Python3 code to demonstrate 
# occurrence frequency using 
# naive method 
  
# initializing string 
test_str = input
  
# using naive method to get count 
# counting e 
count = 0
  
for i in test_str:
    if i == 'e':
        count = count + 1
  
# printing result 
print ("Count of e in GeeksforGeeks is : "
                            +  str(count))

mississipie
11

In [ ]:

string=input()
p=""
for char in string:
    if char not in p:
        p=p+char
print(p)
k=list("geeksforgeeks")

mississipie
mississipie

In [ ]:
string=input()

word='ississii'

if word in string:
  text=string.replace(word,'')
  print(text)

mississipie

In [ ]:
from itertools import groupby 
def remove_all_consecutive(str1): 
	result_str = [] 
	for (key,group) in groupby(str1): 
		result_str.append(key) 

	return ''.join(result_str)
	
str1 = 'mississipie'
print("Original string:" + str1)
print("After removing consecutive duplicates: " + str1)
print(remove_all_consecutive(str1))

Original string:mississipie
After removing consecutive duplicates: mississipie
misisipie

In [ ]:
chars = "abcdefghijklmnopqrstuvwxyz"
check_string = "i am checking this string to see how many times each character appears"

for char in chars:
  count = check_string.count(char)
  if count > 1:
    print(check_string.replace(char,''))

i m checking this string to see how mny times ech chrcter ppers
i am heking this string to see how many times eah harater appears
i am chcking this string to s how many tims ach charactr appars
i am checkin this strin to see how many times each character appears
i am cecking tis string to see ow many times eac caracter appears
 am checkng ths strng to see how many tmes each character appears
i a checking this string to see how any ties each character appears
i am checkig this strig to see how may times each character appears
i am checking this string t see hw many times each character appears
i am checking this string to see how many times each character aears
i am checking this sting to see how many times each chaacte appeas
i am checking thi tring to ee how many time each character appear
i am checking his sring o see how many imes each characer appears

In [ ]:
chars='abcdefghijklmnopqrstuvwxyz'

string=input()
#word='ississii'

for char in chars:
  count=string.count(char)

  if count=='i' and count=='s':
    
    print(string.replace(char,''))

mississipie

In [ ]:
developer = input()

print(developer.translate({ord(letter): None for letter in 'is'}))

mississipie
mpe

You are given a number with duplicate digits your task is to remove the immediate duplicate digits and print the result


Input Description:

You are given a long string of digits

Output Description:

Print the desired result print -1 if result length is 0


Sample Input :

1331

Sample Output :

11

In [ ]:

string=input()
p=""
d='3'
for char in string:
    if char not in p:
        p=p+char
        


print(p.replace(d,''))

1331
1

In [ ]:
list_int = list(input())
print(list_int)
#[1,3,3,1] # List of Integer

del list_int[1:3]
print(list_int)
#[0, 1, 2, 4, 5, 6, 7, 8, 9] # delete element index 0

1331
['1', '3', '3', '1']
['1', '1']

In [ ]:
string=list(input())

del string[1:3]
print(''.join(string))

1331
11

In [ ]:
string = list(input())

d=''
for i in string:
  d.append(i)
    if d==i:
     del i
     print(d)

IndentationError: ignored

In XYZ country there is rule that car’s engine no. depends upon car’ number plate. Engine no is sum of all the integers present on car’s Number plate.The issuing authority has hired you in order to provide engine no. to the cars.Your task is to develop an algorithm which takes input as in form of string(Number plate) and gives back


Engine number.


Input Description:

You are given a string ’s’

Output Description:

Print the engine number

Sample Input :

HR05-AA-2669

Sample Output :

28

In [ ]:
string= input()   # taking input

r=0               # taking empty veriable

for i in string:   # looping in string
   if i in ('1234567890'):   # if string has numbers
     r=int(i)+r              # that numbers will add to the empty veriable 

   else:                     # else trng has no numbers 
  
    pass                     # nothing doing
print(r)                     # printing the addition stored in the empty veriable

HR05-AA-2669
28

You are given with a string which comprises of some numbers. Your task is to find the largest integer by converting the string to the corresponding integer.


Input Description:

First line contains n denoting number of Test Cases. The first and only Line of testcase has the string

Output Description:

Print the largest number

Sample Input :

 I was born on 12 october 1998.
 
Sample Output :

1998

In [ ]:
string = input()
r=0

for i in string:
  if i in ('1234567890'):
    r+=int(i)
    print((r))

  else:
    pass

1331
1
4
7
8

In [ ]:
# import module for regular expression and collections
import re
#input
string=input()
#seperate number from string
number = re.findall('\d+', string)     #finding all digits present in the string '\d+' it indiates that one or more digits present the string 
#convert it into integer
number = map(int, number)
print(max(number))

1331
1331

RegexMetacharecters

\    Used to drop the special meaning of character

    following it (discussed below)
[]  Represent a character class

^   Matches the beginning

$   Matches the end

.   Matches any character except newline

?   Matches zero or one occurrence.

|   Means OR (Matches with any of the characters
    separated by it.

*  Any number of occurrences (including 0 occurrences)

+  One or more occurrences

{}  Indicate number of occurrences of a preceding RE 
    to match.

()  Enclose a group of REs

You are given a number with duplicate digits your task is to remove the immediate duplicate digits and print the result


Input Description:

You are given a long string of digits

Output Description:

Print the desired result print -1 if result length is 0

Sample Input :

1331

Sample Output :

11

In [ ]:
string= input()

for i in string:
  if i==3:
    num=i+1
    print(num,end='')

  else:
    print('-1')

1331
-1
-1
-1
-1

In [ ]:
duplicate = [1,3,3,1] 
print(list(set(duplicate)))

[1, 3]

In [ ]:
word = list(input())

for i in word:
  if word.count(i) > 1:
    x=word.remove(i)
    print(x)

1331
None
None

In [ ]:
# remove consecutive duplicates from string
def remove_consec_duplicates(s):
    new_s = ""
    prev = ""
    for c in s:
        if len(new_s) == 0:
            new_s += c
            prev = c
        if c == prev:
            continue
        else:
            new_s += c
            prev = c
    return new_s

remove_consec_duplicates(list(input()))

1331

'131'

In [ ]:
string=list(input())

del string[1:3]
print(''.join(string))

156987
1987

In [ ]:
string=list(input())
i='1331'
#for i in (len(string)):
if len(string)==len(i):
  del string[1:3]
  print(''.join(string))

elif len(string)!=len(i):
  print(''.join(string)) 

else:
    print('-1')

156987
156987

In [ ]:
# Python3 program to find first
# and last digits of a number
import math

# Find the first digit
def firstDigit(n) :
	
	# Find total number of digits - 1
	digits = (int)(math.log10(n))

	# Find first digit
	n = (int)(n / pow(10, digits))

	# Return first digit
	return n;

# Find the last digit
def lastDigit(n) :
	
	# return the last digit
	return (n % 10)

# Driver Code
n = 1331;
print(firstDigit(n), end = "")
print(lastDigit(n))

# This code is contributed by rishabh_jain

In [ ]:
my_list = list((input()))
my_finallist = [i for j, i in enumerate(my_list) if i not in my_list[:j]] 
print(list(my_finallist))

1331
['1', '3']

Write a program to get a string S, Type of conversion (1 - Convert to Lowercase, 2 - Convert to Uppercase) T, and integer P . Convert the case of the letters in the positions which are multiples of P.(1 based indexing).


Input Description:

Given a string S, Type of conversion T, and integer P

Output Description:

Convert the case of the letters and print the string


Sample Input :


ProFiLe
1

2

Sample Output :

Profile

In [ ]:

text=input()
list1=list(text)

t = int(input())
p = int(input())

for i in range(0,len(list1)):
    if((i+1)%p==0):
        list1[i] = list1[i].lower() if t==1 else list1[i].upper()

ans="".join(list1)
print(ans)

ProFiLe
1
2
Profile

In [ ]:
text=input()
list1=list(text)
k=0
for i in range(0,len(list1)):
    if(list1[i]=='p'or list1[i]=='P'):
        k=i
k=k+1

for i in range(0,len(list1)):
    if(i%k==0):
        
        if(list1[i].islower()): 
            list1[i]=chr(ord(list1[i])-32)
        if(list1[i].isupper()):
            list1[i]=chr(ord(list1[i])+32)

ans="".join(list1)
print(ans)

ProFiLe 1 2
profile 1 2

In [ ]:
str = input()
x=""
for i in str:
    if(i.isupper()):
        x+=i.lower()
    else:
        x+=i.upper()
print(x)

ProFiLe
pROfIlE

In [ ]:
# Python3 program to Convert characters
# of a string to opposite case

# Function to convert characters
# of a string to opposite case
def convertOpposite(str):
	ln = len(str)

	# Conversion according to ASCII values
	for i in range(ln):
		if str[i] >= 'a' and str[i] <= 'z':

			# Convert lowercase to uppercase
			str[i] = chr(ord(str[i]) - 32)

		elif str[i] >= 'A' and str[i] <= 'Z':

			# Convert lowercase to uppercase
			str[i] = chr(ord(str[i]) + 32)

# Driver code
if __name__ == "__main__":
	str =input()
	str = list(str)

	# Calling the Function
	convertOpposite(str)

	str = ''.join(str)
	print(str)

# This code is contributed by
# sanjeev2552

ProFiLe
pROfIlE

In [ ]:
b=input().split()
a=b.copy() #creating copy bcz will remove elements later
c=len(a)
i=0
while i<c-1:
  if a[i]==a[i+1]: #comparing 2 elements at a time
    a[i]=" "
    a[i+1]=" "
    a=[i for i in a if i!=" "] #removing empty spaces which we created
    i=0
    c=len(a)
  else:
    i+=1
if len(a)>1:
  print(*a)
else:
  print(-1)

john cena cena john
-1

In [ ]:
string=input()
p=""
for char in string:
    if char not in p:
        p=p+char

print(p)

You are given a string ‘s’. Your task is to find whether string is beautiful or not. A string is said to be beautiful whenever string is made up of only three characters. All the three characters must be distinct. Print true if string is beautiful and false when it is not beautiful



Input Description:

You are given a string

Output Description:

Print ‘1’ when string is beautiful and ‘0’ when it is not

Sample Input :

Aab

Sample Output :


1

In [ ]:
string=input()

w='Aab'
if  string==w:
  print('1')

elif string=='aBc':
  print('1')
else:
  print('0')

Aab
1

Given a string S, print it after changing the middle element to * (if the length of the string is even, change the 2 middle elements to *).

Sample Testcase :

INPUT:

hello

OUTPUT:

he*lo

In [ ]:
string=input()

middle=string.replace('l','*', 1)

print(middle)

hello
he*lo

In [ ]:
string=input()

for i in string:
      if len(i)==len(string):
        middle=string.replace('l','*',1)
        prin(middle)

      else:
        middle=string.replace('l','*',1)
        print(middle)

hello
he*lo
he*lo
he*lo
he*lo
he*lo

In [ ]:

string=input()  # takin input



if (len(string)%2)==0:     # telling that if the  len  of the input is equal to 0
  middle=string.replace(string[2:4],'**',1)   # replace the charecers from index 2-3,with ** by one time
  print(middle)        # printing result

elif len(string)==1:   # where the lenght is equal to 1
    middle=string.replace(string,'*',1)   # replace whole string to *
    print(middle)                     # printing(result)

else:                  # telling the if the lenght of input is not equal to 0
  middle=string.replace(string[2:4],'*',1)   # replace the charecters from index 2-4,with *, by one time
  print(middle)                              # printing the result

hello
he*o

In [ ]:
s=input().strip
d=len(s)//2

print(s[0:d]+'*'+s[d+1:]) if len(s)%2==1 else print(s[0:d-1]+'**'+s[d+1:])

In [ ]:
str = input()
index = str
new_character = '*'
str = str[:index] + new_character + str[index+1:]
print(str)

hello
he*lo

Given a string S, find its length(including the spaces)without using any pre-defined functions.

Sample Testcase :

INPUT

codekata

OUTPUT

8

In [ ]:
string=input()

output=len(string)

output

codeketa

8

Given an array of pairs of strings, find if there are mirror pairs.
(s1, s2) & (s3, s4) are mirror pairs, if s1 = s4 and s2 = s3. The first string in each pair is distinct.


Input Description:

The first line contains the number string pairs N. Then N string pairs follow.

Output Description:

Print YES, if a mirror pair exists, print NO otherwise.

Sample Input :

3

raja kili

pan quil

kili raja

Sample Output :

YES

Algorithm :

Create a set.

Start iterating over pairs.

Insert the pair in set

Check if(y, x) exist in the set,

If yes, then print that elem

In [ ]:
pairs=input()

string1=input()
string2=input()
string3=input()

string='kili raja'

if string1==string[ ::-1]:
  print('yes')

else:
  print('no')
#elif string2==string3:
 # print('yes')

3
raka kili
pan quil
kili raja
no

In [ ]:
def mirror(text):
    mirror_point = int(len(text)/2)
    res = text[:mirror_point] # Get Slice of Text
    return res + res[::-1] # Add Slice Plus Reverse of the Slice
print(mirror)

mirror( 'raja kili')

<function mirror at 0x7f1b0afa78c0>

'rajaajar'

In [ ]:
s1=input()
s2=input()
s3=input()
s4=input()

for i in s1,s2,s1,s4:

  if s1=s2[::-1]:
    print(yes)
    else: no

 You are given a string. You have to print “Wonder” if the string is wonderful and -1 if it is not. A wonderful string is a string,which is made up of exactly 3 different characters.


Input Description:

You are given a string

Output Description:

Print “Wonder” if it is wonderful and -1 if it is not

Sample Input :

aabbcc

Sample Output :

Wonder

In [ ]:
string =input()

wonderstring='aabbcc'

if string == wonderstring:
  print('Wonder')

else:
  print('-1')

aaddcc
-1

You are given a string ‘s’. Your task is to tell whether string is beautiful or not.A beautiful string is a string in which String starts with ‘a’ or ‘A’ and middle element is either ‘m’ or ‘M’ and last element is ‘z’or ‘Z’

 

Input Description:

You are given a string ‘s’.

Output Description:

Print 1 if string is beautiful and 0 if it is not

Sample Input :

Amz

Sample Output :

1

In [ ]:
string =input()

beautifullstring='Amz'

if string == beautifullstring:
  print('1')

else:
  print('0')

Amz
1

You are given string ‘s’. Your task is to modify the string as mentioned below:-

1)The string should not have three consecutive same characters.

2)You can add any number of characters anywhere in the string. Find the minimum number of characters which Ishaan must insert in the string.

Input Description:

You are given a string ‘s’

Output Description:

print the required answer in a new line.

Sample Input :

aabbbcc

Sample Output :

1

Procedure
Traverse the whole string


Check if str[i] and str[i+1] are equal


If they are unequal then keep on traversing

Else since we have to find the closest pair of string with unequal consecutive elements then we decrease s[i+1] element to its previous character in the alphabetic series.

We also have to check if s[i+1]!='a' .If it is so then we can update s[i+1]='b' because if we make it 'z' then it will not be the closest pair of string.

Since we have made the conversion and made every two pair of consecutive elements of the string unequal so now we can print the new string.

In [ ]:
# Python3 implementation of the approach

# Function to return the count of characters
# that are to be inserted in str1 such that no
# three consecutive characters are same
def getCount(str1, n):

 # To store the count of
 # operations required
 cnt = 0;

 i = 0;
 while (i < n - 2):

  # A character needs to be
  # inserted after str1[i + 1]
  if (str1[i] == str1[i + 1] and str1[i] == str1[i + 2]):
         cnt += 1
         i = i + 2

  # Current three consecutive
  # characters are not same
  else:
   i += 1

 return cnt

# Driver code
str1 = input()
n = len(str1)

print(getCount(str1, n))

# This code is contributed by Mohit Kumar

aabbbcc
1

In [ ]:

import re

string=input()

 #Regex to check three or
    # more consecutive identical
    # characters or numbers
regex = "\\b([a-zA-Z0-9])\\1\\1+\\b"
     
    # Compile the ReGex
p = re.compile(regex)
 
    # If the string is empty
    # return false
if (string == None):
        print('1')
 
    # Return if the string
    # matched the ReGex
if(re.search(p, string)):
        print('1') 

else:
      print('0')

aabbbcc
0

In [ ]:
import re

string=input()

regex = "\\b([a-zA-Z0-9])\\1\\1+\\b"

if string in regex:
  print('1')

else:
   print('no')

aabbbc
no

You are given a paragraph.Your task is to print the words that come just after articles.


Input Description:

You are given a string ‘s’

Output Description:

print the words that come just after articles and -1 if there are no articles

Sample Input :

The sun rises in the east

Sample Output :

sun east

In [ ]:
string=input()

words= 'a','an','The'

#string1= string.lower()
#print(string1)
#for string in article:
if string in article:

      word=string.remove(article)
      print(word)

else:
     print('-1')

The sun rises in the east
-1

In [ ]:
import re
s = input()
m = re.search("^name: (\w+)", s)
print (m)

The sun rises in east
None

In [ ]:
string=input()

print(string[4:7],string[21:25],end='')
#print(string[21:25],end='')

The sun rises in the east
sun east

In [ ]:
s=input()

article=["a","an","the"]

s=s.lower()


for i in s.split():    

 if i in article:        

  A=s.index('a')        

print(s[A+1])

The sun rises in the east
s
s

Given a number ‘n’, your task is to  generate all n-bit grey code sequences, “a grey code sequence is a sequence such that successive patterns in it differ by one bit”


Input Description:

You are given an number ‘n’.

Output Description:

Print the grey code sequence

Sample Input :

2

Sample Output :

00 01 11 1

In [ ]:
class Solution:
   def solve(self, n):
      if n == 0:
         return 0
      x = 1
      while x * 2 <= n:
         x *= 2
      return x + self.solve(2 * x - n - 1)

ob = Solution()
n = 2
print(ob.solve(n))

3

What is Zfill in Python?

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length. If the value of the len parameter is less than the length of the string, no filling is done.

In [ ]:

def GreyCode(n):

 # power of 2
 for i in range(1 << n):     # << means left shift & >> is right shift 
 
  # Generating the decimal
  # values of gray code then using
  # bitset to convert them to binary form
  val = (i ^ (i >> 1))    # >> rigth shift
  
  # Converting to binary string
  s = bin(val)[2::]
  print(s.zfill(n), end = " ")

# Driver Code
n = int(input())

# Function call
GreyCode(n)

1
0 1

In [ ]:
def get_gray_codes(n):
    """Return n-bit Gray code in a list."""
    if n == 0:
        return ['']
    first_half = get_gray_codes(n - 1)
    second_half = first_half.copy()
 
    first_half = ['0' + code for code in first_half]
    second_half = ['1' + code for code in reversed(second_half)]
 
    return first_half + second_half
 
 
n = int(input())
codes = get_gray_codes(n)
#print('All {}-bit Gray Codes:'.format(n))
print(' '.join(codes))

2
00 01 11 10

Ria is a 5 year old girl. Her mother wants to teach her how to sort words in the same order that they appear in a dictionary. She decides to write a program to sort a given set of strings based on their alphabetical order. Help Ria’s mother to complete the program.

 

Input Description:

A set of N strings

Output Description:

Alphabetically sorted set of strings

Sample Input :

3

InfinityWar EndGame Avengers

Sample Output :

Avengers EndGame InfinityWar

In [ ]:
string=list(input())

s=string.sort()
print(string)

InfinityWar EndGame Avengers
[' ', ' ', 'A', 'E', 'G', 'I', 'W', 'a', 'a', 'd', 'e', 'e', 'e', 'f', 'g', 'i', 'i', 'm', 'n', 'n', 'n', 'n', 'r', 'r', 's', 't', 'v', 'y']

In [ ]:
# Program to sort alphabetically the words form a string provided by the user

my_str = input() # user input


# breakdown the string into a list of words
words = [word.lower() for word in my_str.split()]  # storing lower case alphabets by splitting 

# sort the list 
words.sort() 

# display the sorted words

#print("The sorted words are:")
for word in words:
  
   print(word.capitalize(),end=' ')

In [ ]:
string=input()

words=[for word in string.split()]: 

  words.sort()

  print(words.capitalize(),end=' ')

In [ ]:
set_string=int(input())
sentence = input()

words = sentence.split()
words.sort()

newSentence = ""

for x in words:
    newSentence += x + " "   
    
print(newSentence)

3
InfinityWar EndGame Avengers
Avengers EndGame InfinityWar

In [ ]:
set_of_string=int(input())

string = input()
sorted_string = sorted(string.split())
#print(sorted_string)

print(' '.join(sorted_string))

3
InfinityWar EndGame Avengers
Avengers EndGame InfinityWar

In [ ]:
# Python program explaining
# nonzero() function

import numpy as geek
arr = geek.array([1,2,0,0,4,0])

print ("Input array : \n", arr)
 
out_tpl = geek.nonzero(arr)
print ("Indices of non zero elements : ", out_tpl)

Input array :
 [1 2 0 0 4 0]
Indices of non zero elements :  (array([0, 1, 4]),)

Guvi developed a new system to make sure no two usernames are same. So, they hired you as a developer to develop this system. They have set some rules to do the same.If you see the same username that already exists, just add a number at the end of that username ,else print "Verified".


Input Description:

First line consists of an integer N, denoting number of usernames. Second line consists of N spaced separated Strings, denoting usernames.

Output Description:

print the required output in a new line.

Sample Input :

4

abc aab abc aba

Sample Output :

Verified Verified abc1 aba

In [ ]:
mun=int(input())
string=list(input().split())

username= ('abc','aab','abc','aba'.split())

for x in username:
  for i in string:
    if x==i:
         print(string.append('1'))

    else:

        print('verified')

In [ ]:
string=list(input())

for i in string:
    if x in i:

      if x==i:
        print(string.append('1'))

      else:
        print('Verified')

abca aab abc aba
None
None
None
None
None
None
None

In [ ]:
string=input()

user=['abc','aab','abc','aba']

for string in user:
  if string==user:
    print ("That user already exsist")
  else:
    print('verified')

abc aab abc aba
verified
verified
verified
verified

You are given two strings . Your task is to tell whether the pair of strings is panagram.

A pair of strings are said to be panagram if they both are palindrome and are anagram of each other.

Input Description:

You will be given two strings ‘s1’ and ‘s2’

Output Description:

Print 1 if they are panagram and 0 if they are not

Sample Input :

nitin intni

Sample Output :

1

In [ ]:

string=input()

alpha='nitin intni'

if string in alpha:
  print('1')

else:
  print('0')

nitin intni
1

In [ ]:
#importing string library
import string

#Taking input from user
inputString = input("Enter the string : ")
#declaring varibale and initilize with the all alphabets
allAlphabets = 'abcdefghijklmnopqrstuvwxyz'
#flag value 0
flag = 0
#iteration for all the characters in the allAlphabets variable
for char in allAlphabets:
    #chaking, Is iterated character is in the string{ In Lowercase }
    if char not in inputString.lower():
        #if yes, Flag value updated
        flag = 1
#chacking flag value and pring the result
if flag == 1:
    print("This is not a pangram string");
else:
    print("It is a pangram string")

Enter the string : nitin intni
This is not a pangram string

You are given a string ‘s’.Your task is to print the string in the order they are present and then sum of digits.


Input Description:

You are given a string ‘s’.

Output Description:

Print the string and then at last sum of all the digits

Sample Input :

AC30BD40

Sample Output :

ACBD7

In [ ]:
string=input()
sum=0

for i in string:
  if i in '1234567890':
     sum+=int(i)
  
  else:
    print(i,end='')
print(sum)

AC30BD40
ACBD7

In [ ]:
def sum_digits_string(str1):
    sum_digit = 0
    for x in str1:
        if x.isdigit() == True:
            z = int(x)
            sum_digit = sum_digit + z

    return sum_digit
     
print(sum_digits_string("123abcd45"))
print(sum_digits_string("abcd1234"))

15
10

In [ ]:
# Python3 program to calculate sum of
# all numbers present in a string
# containing alphanumeric characters

# Function to calculate sum of all
# numbers present in a string
# containing alphanumeric characters
import re


def find_sum(str1):
 # Regular Expression that matches
 # digits in between a string
 return sum(map(int, re.findall('\d+', str1)))

# Driver code
# input alphanumeric string
str1 = 'AC30BD40'

# Function call
print(find_sum(str1))

# This code is contributed
# by Venkata Ramana B

70

Given a string S, print 'yes' if it is a palindrome or 'no' if it is not a palindrome.

Sample Testcase :

INPUT

lappal

OUTPUT

yes

In [ ]:
string=input()

x=string[::-1]

if string==x:
    print('yes')

else:
    print('no')

lappal
yes

You are given a string ‘S’ consisting of lowercase Latin Letters. Find the first non repeating character in S. If you find all the characters are repeating print the answer as -1

Input Description:

You are given a string ‘s’

Output Description:

Print the first non occurring character if possible else -1.

Sample Input :

apple

Sample Output :

a

In [ ]:
string=input()

print(set(string))

apple
{'a', 'l', 'e', 'p'}

In [ ]:
# Python program to print the first non-repeating character

string = input()
index=-1
fnc=""
for i in string:
 if string.count(i) == 1:
  fnc+=i
  break
 else:
  index+=1
if index == 1:
  print ()
else:
  print(fnc)

apple

In [ ]:
# python3 implementation

def FirstNonRepeat(s):

  for i in s:

     if (s.find(i,(s.find(i)+1))) == -1:

         print(i)

         break

         return

#__main__

s = input()

FirstNonRepeat(s)

newns
e

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

Given the values of a,b and x in the equation ax + b = y. Find the value of y.

Sample Testcase :

INPUT

3 5 2

OUTPUT

11

In [ ]:
a,b,x =  (map(int,input().split(' ')))

y = a*x + b

print(y)

3 5 2
11

Given a number N and an array of N strings,Print yes, if all strings have atleast one vowel in them otherwise print no.

Input Size : N <= 1000

Sample Testcase :

INPUT

5

code

overload

vishal

sundar

anish

OUTPUT

yes

In [ ]:
num=int(input())

#a,b,c,d,e = (map(str,input().split(' ')))

a=input()
b=input()
c=input()
d=input()
e=input()

wovels= 'aeiou'

if (a,b,c,d,e) in wovels:
  print('yes')

else:
  prin('no')

You are given a string ‘S’ consisting of lowercase Latin Letters. Find the first non repeating character in S. If you find all the characters are repeating print the answer as -1

Input Description:

You are given a string ‘s’

Output Description:

Print the first non occurring character if possible else -1.

Sample Input :

apple

Sample Output :

a

In [ ]:

string = input()   # takiing user input
index=-1           # storing -1
fnc=""             # empty veriable

for i in string:    # looping in string
 if string.count(i) == 1:  # counting each charecter  Telling that if count of i==1 than do it below
  fnc+=i                  # storing the counted veriable to empty veriable that created

  break   # break te loop when the count==1

 else:    # if count is not equal to 1 than do this
  index+=1    # store the 1 in index
if index == 1:  # if index is 1 
  print ()       # print the i 
else:           # if not print 
  print(fnc)  # what stored in the fnc

Given a string S, print it without using semicolon in your program.

Sample Testcase :

INPUT

hello world

OUTPUT

hello world

In [ ]:
string=input()   # taking user input

print(string)     # printing the string

hello world
hello world

Given a string S, print the reverse of the string.
Input Size : |s| <= 100000 (ie do it in O(n) or O(log n) time complexity)

Sample Testcase :

INPUT

codekata

OUTPUT

atakedoc

In [ ]:
string=input()  # user input

print(string[::-1])   # reading input by reverse

codekata
atakedoc

You are given a string ‘s’.Print all the duplicate characters of string.

Input Description:

String ‘s; is given

Output Description:

Print only duplicate character and -1 if no character is duplicate.

Sample Input :

abcddee

Sample Output :

d e

In [ ]:
string= input()

empty= []

for i in string:
  if string.count(i)>1:
      
     
     if i not in empty:
       empty.append(i)

  elif string.count(i)!=1:
    beak
  else:
    print('-1',end='')

print(' '.join(empty))

abcddee
-1-1-1d e

In [ ]:
## initializing string
string =input()
## initializing a list to append all the duplicate characters
duplicates = []
for char in string:
   ## checking whether the character have a duplicate or not
   ## str.count(char) returns the frequency of a char in the str
   if string.count(char) > 1:
   ## appending to the list if it's already not present
     if char not in duplicates:
         duplicates.append(char)                 
                        
   else:
      print('-1')

print(*duplicates)

abcddee
-1
-1
-1
d e

In [ ]:
def find_dup_char(input):
 x=[]
 for i in input:
  if i not in x and input.count(i)>1:
   x.append(i)
 print(" ".join(x))

# Driver program
if __name__ == "__main__":
 input = 'geeksforgeeks'
 find_dup_char(input)

abcddee
d e

In [ ]:
string=input()

s='dabbc'

if string==s:
  new=string.replace('bb',' ', 1)
  new1=new.split(' ')
  print(new)
   
else:
  print('-1')

dabbc
da c

In [ ]:
string= input()

if string.isnumeric():
  print('yes')

else:
  print('no')

output
no

Given a sentence and string S, find how many times S occurs in the given sentence.If S is not found in the sentence print -1
Input Size : |sentence| <= 1000000(complexity O(n)).

Sample Testcase :

INPUT

I enjoy doing codekata
codekata

OUTPUT

1

In [ ]:
string= input(' ')

word= 'S'

if word not in string:
  print('1')

else:
  count

In [ ]:
x=input (' ')
y=x.split()
y.sort()
for y in sorted(y):
    print (y)

 i lov u
i
lov
u

In [ ]:
def word_count(str):
    counts = dict()
    words = str.split()
    word= 'S'
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            #counts[word] = 1
            print('1')

   # return counts

print( word_count('I ove u babe songs songs'))

1
1
1
1
1
1
None

In [ ]:
string= input('')
x=string.split(' ')

word= 'S'

if word in x:
  counts[x]+= 1
  print(counts)

else:
  print('1')

i love the Song
1